body {
    margin:  100px;
    width: 70%;
    padding: 1em;
}

div {
    margin-left:  100px;
    width: 70%;
    padding: 1em;
}

            
nav {
    font-family:'cochin', 'Arial', 'Sans-Serif';
    padding: 3em;
    list-style: none;
    font-weight: bold;
}
nav ul li, {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'cochin', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}



os  {
    font-size: 2,5em;
}

figure {
  float: center;
  width: 30%;
  text-align: center;
  font-style: bold;
  font-size: smaller;
  text-indent: 0;
  
  margin: 0.5em;
  padding: 0.5em;
}
img.scaled {
  width: 100%;
}
figure figcaption {
    
    font-style: bold;
    text-align: center;
}

.container  {
      
    display: flex;
    
    justify-content: space-between;
}
